<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor=#E8E8E8 leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>
<table cellpadding=0 cellspacing=0 border=0 width=100% align=center style="border:none;border-collapse:collapse;font-family:Arial,sans-serif;" bgcolor="#e8e8e8">
  <tr>
    <td style="border:none; line-height:0px; font-size:0;">
      <table width=601 border=0 cellpadding=0 cellspacing=0 align=center bgcolor=#FFFFFF style="border:none;border-collapse:collapse;font-family:Arial,sans-serif;">
        <tr>
          <td colspan="19" bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="520" height="31" alt=""></td>
          <td style="border:none; line-height:0px; font-size:0;" width=80 height=31 colspan=2 bgcolor="#e8e8e8"><a href="http://itzamna.github.io/e-lamoda/" target="_blank" style="color: #272727; font-size: 12px; line-height:10px; font-size:10px; font-family:Arial,tahoma,sans-serif; padding:0px; margin:0px;">Онлайн версия</td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif"  width="1" height="31" alt=""></td>
        </tr>
        <tr>
          <td colspan="2" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/logo.gif" width="186" height="70" border="0" alt="Lamoda.kz - мода с доставкой"></a></td>
          <td width="334" height="70" colspan="17" style="border:none; line-height:0px; font-size:0;">
            <center>
              <span style="font-size:12px;  line-height:12px; color: #8F8F91; font-family:Arial,sans-serif;">CАМАЯ БЫСТРАЯ ДОСТАВКА ПО ВСЕМУ КАЗАХСТАНУ<br/><br/></span>
              <span style="font-size:10px;  line-height:10px; color: #8F8F91; font-family:Arial,sans-serif;">Круглосуточная бесплатная служба поддержки 8-800-333-08-78</span>	
            </center>
          </td>
          <td colspan="2" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/basket.gif" width="80" height="70" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="70" alt=""></td>
        </tr>
        <tr>
          <td style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/for_woman.gif" width="94" height="34" border="0" alt="Женщинам"></a></td>
          <td style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/for_man.gif" width="92" height="34" border="0" alt="Мужчинам"></a></td>
          <td colspan="5" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/for_children.gif" width="76" height="34" border="0" alt="Детям"></a></td>
          <td colspan="4" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/for_sport.gif" width="69" height="34" border="0" alt="Спорт"></a></td>
          <td colspan="6" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/Premium.gif" width="139" height="34" border="0" alt="Premium"></a></td>
          <td colspan="4" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/sale.gif" width="130" height="34" border="0" alt="Скидки"></a></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="34" alt=""></td>
        </tr>
        <tr>
          <td colspan="21"  width="600" height="127"  style="border:none; line-height:0px; font-size:0;">
            <span style="font-size:12px;  line-height:16px; color: #000000; font-family:Arial,sans-serif; padding:5px;">Здравствуйте, ##Field_firstname##<br/><br/></span>
            <span style="font-size:12px;  line-height:16px; color: #000000; font-family:Arial,sans-serif; padding:5px;">Яркие краски по-прежнему в моде, поэтому пора обновлять свой гардероб и составлять смелые образы! Не пропустите новые поступления <a href="http://www.lamoda.ru/" target="_BLANK" style="color:#504fb5;">одежды</a>, <a href="http://www.lamoda.ru/" target="_BLANK" style="color:#504fb5;">обуви</a> или <a href="http://www.lamoda.ru/" target="_BLANK" style="color:#504fb5;">аксессуаров</a> на Lamoda.kz!</span>	
          </td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="127" alt=""></td>
        </tr>
        <tr>
          <td colspan="5" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/clothes.gif" width="238" height="265" border="0" alt="Одежда"></a></td>
          <td colspan="6" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/shoes.gif" width="93" height="265" border="0" alt="Обувь"></a></td>
          <td colspan="10" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/fittings.gif" width="269" height="265" border="0" alt="Аксессуары"></a></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="265" alt=""></td>
        </tr>
        <tr>
          <td colspan="9" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/tropics_new.gif" width="315" height="271" border="0" alt="Тропики в вашем гардеробе!"></a></td>
          <td colspan="12" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/tops.gif" width="285" height="271" border="0" alt="Топы"></a></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="271" alt=""></td>
        </tr>
        <tr>
          <td colspan="4" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/woman.gif" width="211" height="317" alt=""></td>
          <td colspan="10" rowspan="2" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/costume.gif" width="192" height="346" border="0" alt="Купальники"></a></td>
          <td colspan="7" rowspan="3" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/dresses.gif" width="197" height="513" border="0" alt="Платья"></a></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="317" alt=""></td>
        </tr>
        <tr>
          <td colspan="4" rowspan="3" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/t-shirts.gif" width="211" height="260" border="0" alt="Футболки"></a></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="29" alt=""></td>
        </tr>
        <tr>
          <td colspan="10" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/sandals.gif" width="192" height="167" border="0" alt="Босоножки"></a></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="167" alt=""></td>
        </tr>
        <tr>
          <td colspan="17" rowspan="2" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/bags.gif" width="389" height="222" border="0" alt="Сумки"></a></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="64" alt=""></td>
        </tr>
        <tr>
          <td colspan="4" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/shorts.gif" width="211" height="158" border="0" alt="Шорты"></a></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="158" alt=""></td>
        </tr>
        <tr>
          <td colspan="6" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/woman2.gif" width="245" height="286" alt=""></td>
          <td colspan="15" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/sertifikat.gif" width="355" height="286" border="0" alt="Выиграй сертификат на 30000 тг!"></a></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="286" alt=""></td>
        </tr>
        <tr>
          <td colspan="21" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif"  alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="27" alt=""></td>
        </tr>
        <tr>
          <td colspan="21" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/advantages.gif" width="600" height="155" border="0" alt="Три главных преимущества"></a></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="155" alt=""></td>
        </tr>
        <tr>
          <td colspan="3" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/logo2.gif" width="195" height="69" border="0" alt="Ламода - мода с доставкой"></a></td>
          <td colspan="5" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="89" height="69" alt=""></td>
          <td colspan="2" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.facebook.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/fb.gif" width="39" height="69" border="0" alt="Следуйте за нами в Фейсбук"></a></td>
          <td colspan="2" style="border:none; line-height:0px; font-size:0;">
            <a href="http://vk.com/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/vk.gif" width="33" height="69" border="0" alt="В контакте"></a></td>
          <td style="border:none; line-height:0px; font-size:0;">
            <a href="http://twitter.com/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/twitter.gif" width="35" height="69" border="0" alt="Twitter"></a></td>
          <td colspan="2" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.odnoklassniki.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/ok.gif" width="37" height="69" border="0" alt="Одноклассники"></a></td>
          <td style="border:none; line-height:0px; font-size:0;">
            <a href="http://youtube.com/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/yt.gif" width="34" height="69" border="0" alt="YouTube"></a></td>
          <td colspan="2" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.mail.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/mail.gif" width="37" height="69" border="0" alt="mail.ru"></a></td>
          <td colspan="2" style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.lamoda.ru/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/no.gif" width="36" height="69" border="0" alt=""></a></td>
          <td style="border:none; line-height:0px; font-size:0;">
            <a href="http://www.instagram.com/" target="_blank">
              <img src="http://itzamna.github.io/e-lamoda/public/images/ig.gif" width="65" height="69" border="0" alt="Instagram"></a></td>
          <td bgcolor="#e8e8e8 style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="69" alt=""></td>
        </tr>
        <tr>
          <td width="600" height="139" colspan="21" style="border:none; line-height:0px; font-size:0;">
            <span style="font-size:12px;  line-height:12px; color: #8F8F91; font-family:Arial,sans-serif; padding: 5px;"><p>Данное письмо не является офертой. Все цены действительны на момент совершения рассылки. Вы получили это письмо потому, что подписаны на рассылку интернет-магазина <A target="_blank" href="http://www.lamoda.ru/" style="color:#6a81aa;">Lamoda.kz</a>.</p></span>
            <span style="font-size:12px;  line-height:12px; font-family:Arial,sans-serif; padding: 5px;"><p><a target="_blank" href="http://www.lamoda.ru/" style="color:#1415C8;font-family:Arial,sans-serif;">Отписаться от рассылки</a>.</p></span>
            <span style="font-size:12px;  line-height:12px; color: #8F8F91;font-family:Arial,sans-serif; padding: 5px;"><p>Общество с ограниченной ответственностью "Купишуз", ОГРН:5107746007628, Фактический/юридический адрес: Юр. адрес: г. Алматы, 050016, ул. Фурманова 2, Телефон: 8-800-333-08-78</a></p></span>
          </td>
          <td bgcolor="#e8e8e8">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="139" alt=""></td>
        </tr>
        <tr>
          <td colspan="21" width="600" height="12" bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;"></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="1" height="16" alt=""></td>
        </tr>
        <tr>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="94" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="92" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="9" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="16" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="27" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="7" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="17" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="22" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="31" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="8" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="8" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="25" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="35" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="12" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="25" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="34" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="8" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="29" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="21" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="15" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;">
            <img src="http://itzamna.github.io/e-lamoda/public/images/spacer.gif" width="65" height="1" alt=""></td>
          <td bgcolor="#e8e8e8" style="border:none; line-height:0px; font-size:0;"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
